input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login-logo{
    padding-left: 52px;
    height: 36px;
    font-size: 22px;
    color: #fff;
    background: url(../image/logo.png) left center no-repeat;
    line-height: 36px;
}
.login-dialog{
    width: 350px;
    height: 460px;
    padding:20px;
    background: #fff url(../image/login_dialog_bg.png) bottom center no-repeat;
}
.login-input{
}
.login-title{
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #0094ff;
    line-height: 1;
    margin-top: 28px;
    margin-left:40px;
}
.login-input .username,.login-input .password,.code{
    height: 48px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-bottom: 18px;
    box-sizing: border-box;
    overflow: hidden;
}
.login-input input{
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
}
.login-input .username{
    padding-left: 57px;
    background-image: url(../image/ic_username.png);
    background-position: 24px center;
    background-repeat: no-repeat;
}
.login-input .password{
    padding-left: 57px;
    background: url(../image/ic_password.png) 24px center no-repeat;
}
.login-input .code {
    position: relative;
    padding-left: 57px;
    background: url(../image/ic_check.png) 24px center no-repeat;
    padding-right: 100px;
}
.code img{
    position: absolute;
    width: 100px;
    top: 0px;
    right: 0px;
    height: 48px;
    border-left: 1px solid #ededed;
    cursor: pointer;
}
.login-input .login-btn{
    width: 100%;
    height: 48px;
    margin-top: 40px;
    color: #fefefe;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background: #ffb536;
    cursor: pointer;
    outline: none;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.login-input .login-btn:hover{
    opacity: .8;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.login-type{
    position: absolute;
    right: 26px;
    bottom: 26px;
    font-size: 14px;
    color: #0094ff;
    padding-right: 14px;
    background: url(../image/arrow.png) right center no-repeat;
    cursor: pointer;
}
.login-input i{
    display: block;
    text-align: center;
    font-style: normal;
    color: #0094ff;;
    font-size: 14px;
}
.fingerprint{
    height: 250px;
    background: url(../image/fingerprint.png) center no-repeat;
}